*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
}

.contact-buttons{

    position:fixed;

    right:30px;

    bottom:30px;

    display:flex;

    flex-direction:column;

    align-items:flex-end;

    gap:15px;

    z-index:9999;

}

.contact-btn{

    width:60px;

    height:60px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:white;

    font-size:30px;

    position:relative;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    transition:.35s;

    opacity:0;

    transform:translateY(40px);

    pointer-events:none;

}

.contact-btn:hover{

    transform:scale(1.1);

}

.contact-btn span{

    position:absolute;

    right:80px;

    background:white;

    color:#333;

    padding:8px 14px;

    border-radius:20px;

    white-space:nowrap;

    font-size:14px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    opacity:0;

    transition:.3s;

}

.contact-btn:hover span{

    opacity:1;

}

.messenger{

    background:#1DA1F2;

}

.whatsapp{

    background:#25D366;

}

.email{

    background:#45aaf2;

}

#mainButton{

    width:65px;

    height:65px;

    border:none;

    border-radius:50%;

    background:#2196F3;

    color:white;

    font-size:32px;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

    transition:.4s;

}

#mainButton:hover{

    transform:rotate(30deg);

}

.show{

    opacity:1;

    transform:translateY(0);

    pointer-events:auto;

}